*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:url(./img/Background2.png);
  z-index: -999;
}
.App{
  background-color: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  z-index: 999;
}
h1{
  color: #5A7FFF;
}
header{
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 10px;
}
.container{
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 140px;
  
}
.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}
.content{
  background-color: rgba(255, 255, 255, 0.50);
  border: rgba(0, 0, 0, 0.179) 1px solid;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.184);
  width: 500px;
  height: 450px;
  padding: 35px 0px;
  
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  display: flex;
  overflow:auto;

}

.input-lista ,.submit-lista{
 
  background-color: rgba(255, 255, 255, 0.50);
  border: rgba(0, 0, 0, 0.179) 1px solid;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.184);
  border-radius: 50px;
  padding: 15px 60px;
}
.submit-lista{
  color: #5A7FFF;
  font-weight: bold;
  cursor: pointer;
}
.submit-lista:hover{
  color: white;
  background-color: #5A7FFF;
}
.imagen img{
  width: 600px;
  height: 600px;
}
.item{
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  
  padding-left:50px;
  align-items: center;
  width: 435px;
  height: 50px;
  background-color: #5A7FFF;
  border: rgba(0, 0, 0, 0.179) 1px solid;
  border-radius: 15px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.184);
  color: white;
  flex-shrink: 0;
  animation: aparecer 0.6s ease-in-out
 
}
.text{
  margin:auto;
 
}

.remove-botton{
  margin:10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-right:10px ;
  font-weight: bold;
  height: 20px;
  justify-self: end;
}
.items{
  display: flex;
  gap: 20px;
  flex-direction: column;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.removing{
  animation: removing 0.5s ease-in;
  transform: scale(0);
}



@media(max-width:400px){
  .imagen{
    display: none;
  }
  .lista{
    width: 300px;
    height: 300px;
  }
  .content{
    width: 300px;
    height: 300px;
    padding: 25px 0;
  }
  .container{
    padding: 0;
  }
  .input-lista ,.submit-lista{
    padding: 10px;
  }
  h1{
    font-size: 25px;
  }
  .item{
    height: 40px;
    width: 250px;
  }
}

/* animaciones */
@keyframes removing {
  0%{
    transform: scale(1);
  }
  70%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(0);
    display: none;
  }
}

@keyframes aparecer {
  0%{
    transform: scale(0);
    }
  50%{
    transform: scale(1.1);
    
  }
  100%{
    
    
  }
}

